<div class="country">
    <img class="country-info__item" src="{{flags.svg}}" alt="countries flag">
    <h2>{{name.official}}</h2> 
</div>
<ul class="list">
    <li><b>capital:</b> {{capital}}</li>
    <li><b>population:</b> {{population}}</li>
    {{#each languages}}
    <li><b>languages:</b> {{this}}</li>
    {{/each}}
</ul>
